html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: orange;
}

.outer {
  margin: 0 auto;
  width: 90%;
  padding: 15px;
  background-color: #8f8f8f;
  text-align: center;
}

.outer .inner {
  text-transform: uppercase;
}

.outer .inner_p {
  color: #fff;
  text-align: left;
  cursor: pointer;
}

.outer .inner_p:hover {
  color: blue;
}
